/* General styles */
body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1568191009535-7d8b407d389a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWVzdGhldGljfGVufDB8fDB8fHww.jpg');
    margin: 0;
    padding: 0;
    color: #333333;
}

.header {
    text-align: center;
    font-size: 2.5em;
    color: #628171 /* A more professional color */
    font-family: 'Arial', sans-serif; /* Clean, modern font */
    font-weight: 700; /* Bold font weight */
    text-transform: uppercase; /* Makes the text stand out */
    letter-spacing: 1px; /* Adds spacing between letters for a cleaner look */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1)); /* Subtle gradient */
    padding: 20px 0; /* Adds padding for better spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    border-radius: 5px; /* Slightly rounded corners for a modern touch */
    display: inline-block; /* Makes the background and shadow only as wide as the text */
}



/* Main container styles */
.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
}

/* Flex container styles */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

/* Widget styles */
.widget {
    background: rgba(248, 249, 250, 0.5); /* More transparent background color */
    border: 2px solid rgba(224, 224, 224, 0.3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    position: relative;
    padding: 20px;
    overflow: hidden;
    flex: 1; /* Allow widgets to grow and fill the container space */
    box-sizing: border-box;
}

.widget.no-border {
    border: none;
}
.widget-container {
    display: flex;
    justify-content: space-between; /* or justify-content: flex-start; to align items to the start */
    gap: 10px; /* Add some space between the widgets */
  }

.widget:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

/* Announcements specific styles */
#announcements {
    color: #333;
    padding: 30px;
    position: relative;
    overflow: hidden;
    height: 100%; /* Ensure the container height allows scrolling */
    box-shadow: none;
    background: none;
    padding: 0px;

}

#announcements h2 {
    margin: 0 0 20px;
    color: #333;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

/* Announcement text animation */
.announcement-content p {
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 100%;
    animation: marquee 10s linear infinite;
    font-size: 1.2em;
    color: #000;
}

.x{
    box-shadow: none;
    background: none;
    padding: 0px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Input fields and buttons */
input[type="text"], button {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1em;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

input[type="text"] {
    width: calc(50% - 12px); /* Adjust width to fit within the container */
}

input[type="text"].left {
    float: left;
}

input[type="text"].right {
    float: right;
}

input[type="text"]:focus {
    border-color: #fcb69f;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #968f73;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 5px;
}

button:hover {
    background-color: #628171;
}

button:active {
    background-color: #628171;
}

button:focus {
    outline: none;
}

/* Widget sizing */
.large-widget {
    flex: 1 1 100%;
    height: 300px;
}

.medium-widget {
    flex: 1 1 48%;
    height: 300px;
}

.small-widget {
    width: calc(50% - 10px); 
}

/* Resize handle styles */
.resize-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ccc;
    cursor: se-resize;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resize-handle:before {
    content: '⇲';
    font-size: 12px;
    color: #fff;
}

.resize-handle.se {
    right: 10px;
    bottom: 10px;
}

/* Additional styling for text and elements inside widgets */
.widget h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
    font-weight: bold;
}

.widget p {
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    .large-widget, .medium-widget, .small-widget {
        flex: 1 1 100%;
    }

    /* Adjust input fields for smaller screens */
    input[type="text"].left,
    input[type="text"].right {
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
}
#pomodoroTimer {
    background: rgba(248, 249, 250, 0.5); /* More transparent background color */
    border: 2px solid rgba(224, 224, 224, 0.3);
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 194px; /* Increased height to accommodate new buttons */
    backdrop-filter: blur(5px); /* Blur effect for the background */
}

/* Timer Display */
#timerDisplay {
    font-size: 4em;
    font-weight: bold;
    color: #333;
    background: #558674bb;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 50px; /* Space for the buttons */
}

/* Time Control Buttons */
.time-control-btn {
    background: #b7b9bc;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    
    
}

#decreaseTime {
    left: 20%;
    top: 39%;
}

#increaseTime {
    right: 20%;
    top: 39%;
}

.time-control-btn:hover {
    background: #628171;
    transform: scale(1.05);
}

.time-control-btn:active {
    background: #628171;
    transform: scale(0.95);
}

.time-control-btn:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Button Styles */
.pomodoro-controls button {
    background: #968f73;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 25px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pomodoro-controls button:hover {
    background: #628171;
    transform: translateY(-2px);
}

.pomodoro-controls button:active {
    background: #628171;
    transform: translateY(1px);
}

.pomodoro-controls button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


#googleSpreadsheet{
    height: 510px;
}
#googleSlides{
    height: 510px;
}
#bookQuote{
    height: max-content;
}
#music{
    height: 163px;
}
#pollWidget{
    height: max-content;
}
#googleForm{
    height: 510px;
}